/* card styles */
#recipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .card {
    width: 30%;
    margin: 1.25rem 0;
    border: none;
    cursor: pointer;
  }
  
  .card-img-top {
    height: 200px;
    object-fit: cover;
  }
  
  .card-body {
    background: #e7e7e7;
    border-radius: 0 0 0.25rem 0.25rem;
  }
  
  .card-header {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    padding: 0.5rem 0;
  }
  
  .card-title {
    width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .card-subtitle {
    display: inline-flex;
    align-items: center;
    width: 40%;
    justify-content: flex-end;
  }
  
  .fa-clock {
    margin-right: 0.5rem;
  }
  
  .card-content {
    display: inline-flex;
    width: 100%;
    height: 12.1rem;
    margin-top: 0.5rem;
  }
  
  .card-list {
    padding-right: 1rem;
    width: 45%;
    /* overflow: auto; */
    overflow: hidden;
  }
  
  .subcontent-text {
    width: 55%;
    text-align: justify;
    overflow: auto;
    
  }
  
  .scroll-description::-webkit-scrollbar {
    width: 2px;
    color: #212529;
  }
  
  .scroll-description::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.25);
    border-radius: 0.1rem;
    /* height: 5rem; */
  }