ul {
    padding: 0;
    margin: -10px;
}

li {
    list-style: none;
}

.all-dropdown{
    display: flex;
    gap: 15px;
}

.dropdown.dropdown-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.dropdown-ul{
    min-height: 50px;
    max-height: 200px;
    width: 700px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
}

/* INGREDIENT */
#ingredient-dropdown{
    background-color: #3282f7;

}

#dropdownMenuButton1{
    background-color: #3282f7;
    border-color: #3282f7;
}

.select-items-ingredient{
    background-color: #3282f7;
}

.ingredient-item{
    display: flex;
    flex-wrap: wrap;
    width: 33%;
    max-height: 15.8rem;
    margin-top: 5px;
    border-radius: 0.25rem;
    z-index: 1;
}
#search-ingredient{
    width: 100%;
    display: block;
    background-color: #3282f7;
    outline: none;
    border:0;
    color: white;
}
.btn-search-ingredient{
width: 100%;
}

.dropdown-item.item-ingredient{
    white-space: normal;
    padding: 0;
    font-size: 13px;
    color: white;

}
.dropdown-item.item-ingredient:focus, .dropdown-item.item-ingredient:hover {
    background-color: #3282f7;
}
/* APPLIANCE */
#appliance-dropdown{
    background-color: #68d9a4;
}

#dropdownMenuButton2 {
    background-color: #68d9a4;
    border-color: #68d9a4;
}

.select-items-appliance {
    background-color: #68d9a4;
}


.appliance-item{
    display: flex;
    flex-wrap: wrap;
    width: 33%;
    max-height: 15.8rem;
    margin-top: 5px;
    border-radius: 0.25rem;
    z-index: 1;
}
#search-appliance{
    width: 100%;
    display: block;
    background-color: #68d9a4;
    outline: none;
    border:0;
    color: white;
}
.btn-search-appliance{
width: 100%;
}

.item-appliance{
    white-space: normal;
    padding: 0;
    font-size: 13px;
    color: white;

}
.item-appliance:focus, .item-appliance:hover {
    background-color: #68d9a4;
}

/*USTENSIL*/
#ustensil-dropdown{
    background-color: #ed6454;
}

#dropdownMenuButton3{
    background-color: #ed6454;
    border-color: #ed6454;
}

.select-items-ustensil{
    background-color: #ed6454;
}

.ustensil-item{
    display: flex;
    flex-wrap: wrap;
    width: 33%;
    max-height: 15.8rem;
    margin-top: 5px;
    border-radius: 0.25rem;
    z-index: 1;
}
#search-ustensil{
    width: 100%;
    display: block;
    background-color: #ed6454;
    outline: none;
    border:0;
    color: white;
}
.btn-search-ustensil{
width: 100%;
}

.item-ustensil{
    white-space: normal;
    padding: 0;
    font-size: 13px;
    color: white;

}
.item-ustensilt:focus, .item-ustensil:hover {
    background-color: #ed6454;
}
