.image-logo {
    display: flex;
    justify-content: center;
}

.bar-search {
    display: flex;
    justify-content: center;

}

.search-bar{
    width: 80%;
    border:none;
    background-color: #E7E7E7;
}

.search-bar-btn{
    border: none;
    background-color: #E7E7E7;
    border-radius: 0;
}

