.select-items{
    display: flex;
    gap: 13px;
    margin-bottom: 10px;
}
.select-items-ingredient, .select-items-appliance, .select-items-ustensil{
    color: white;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;

}