@import url("card.css");
@import url("dropdown.css");
@import url("selectitem.css");
@import url("search.css");
body {
    box-sizing: border-box;
    width: 90%;
    max-width: 1440px;
    margin: 50px auto;
  }
  
  p {
    margin-bottom: 0;
  }

